<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AP" connectionString="data source=SG2NWPLS19SQL-v04.mssql.shr.prod.sin2.secureserver.net; initial catalog=academyph; user=academyph;password=Puru@2016; Connection Timeout=1000" providerName="System.Data.SqlClient;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" tempDirectory="G:\PleskVhosts\samsconsult.com\tmp">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="15360" requestValidationMode="2.0" />
    <!--to increase upload limit-->
    <customErrors mode="Off" />
    <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1B2C3D4E5" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1" />
    <trust level="Full" originUrl="" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
   <staticContent>
      <mimeMap fileExtension="." mimeType="text/xml" />
    </staticContent>
  </system.webServer>
</configuration>